Comparing stats from simulated 1970-1979 and real stats from 1970-1979

In [1]:
import pandas as pd

In [2]:
sim_batting = pd.read_csv('team_batting_stats.csv')

In [3]:
sim_batting.columns

Index(['team_id', 'year', 'league_id', 'level_id', 'split_id', 'pa', 'ab', 'h',
       'k', 'tb', 's', 'd', 't', 'hr', 'sb', 'cs', 'rbi', 'r', 'bb', 'ibb',
       'hp', 'sh', 'sf', 'ci', 'gdp', 'g', 'gs', 'ebh', 'pitches_seen', 'avg',
       'obp', 'slg', 'rc', 'rc27', 'iso', 'woba', 'ops', 'sbp'],
      dtype='object')

In [4]:
sim_batting.head()

,team_id,year,league_id,level_id,split_id,pa,ab,h,k,tb,...,pitches_seen,avg,obp,slg,rc,rc27,iso,woba,ops,sbp
0,1,1979,100,1,0,6241,5441,1424,765,2225,...,0,0.2617,0.3418,0.4089,762.4700,4.7577,0.1472,0.0000,0.7508,67.6190
1,2,1979,100,1,0,6229,5438,1504,776,2489,...,0,0.2766,0.3538,0.4577,870.9471,5.5240,0.1811,0.3519,0.8115,56.1538
2,3,1979,100,1,0,6332,5552,1478,762,2286,...,0,0.2662,0.3354,0.4117,768.9244,4.6759,0.1455,0.0000,0.7472,67.2956
3,4,1979,100,1,0,6183,5565,1476,715,2144,...,0,0.2652,0.3221,0.3853,677.9198,4.1458,0.1200,0.3124,0.7074,58.9552
4,5,1979,100,1,0,6426,5531,1413,835,2126,...,0,0.2555,0.3383,0.3844,734.8753,4.4112,0.1289,0.3177,0.7227,63.7931

In [7]:
sim_batting = sim_batting.loc[sim_batting['league_id'] == 100]

In [8]:
sim_batting.head()

,team_id,year,league_id,level_id,split_id,pa,ab,h,k,tb,...,pitches_seen,avg,obp,slg,rc,rc27,iso,woba,ops,sbp
0,1,1979,100,1,0,6241,5441,1424,765,2225,...,0,0.2617,0.3418,0.4089,762.4700,4.7577,0.1472,0.0000,0.7508,67.6190
1,2,1979,100,1,0,6229,5438,1504,776,2489,...,0,0.2766,0.3538,0.4577,870.9471,5.5240,0.1811,0.3519,0.8115,56.1538
2,3,1979,100,1,0,6332,5552,1478,762,2286,...,0,0.2662,0.3354,0.4117,768.9244,4.6759,0.1455,0.0000,0.7472,67.2956
3,4,1979,100,1,0,6183,5565,1476,715,2144,...,0,0.2652,0.3221,0.3853,677.9198,4.1458,0.1200,0.3124,0.7074,58.9552
4,5,1979,100,1,0,6426,5531,1413,835,2126,...,0,0.2555,0.3383,0.3844,734.8753,4.4112,0.1289,0.3177,0.7227,63.7931

In [9]:
sim_batting_ops_mean = sim_batting.ops.mean()

In [10]:
sim_batting_ops_mean

0.7310875000000001