In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [2]:
qoc_data = pd.read_csv('qoc_data.csv')

In [4]:
qoc_data.head()

,Season,BABIP,GB/FB,LD%,GB%,FB%,IFFB%,HR/FB,IFH,IFH%,BUH,BUH%,Pull%,Cent%,Oppo%,Soft%,Med%,Hard%
0,2002,0.293,1.23,21.2%,43.5%,35.3%,11.7%,10.7%,3725,6.4%,772,23.4%,42.9%,29.1%,28.1%,15.1%,62.6%,22.4%
1,2003,0.294,1.26,22.5%,43.3%,34.2%,11.7%,11.2%,3613,6.2%,786,23.8%,43.9%,27.5%,28.6%,15.9%,60.5%,23.6%
2,2004,0.297,1.23,20.0%,44.1%,35.9%,11.3%,11.2%,3921,6.6%,708,21.5%,43.3%,28.9%,27.7%,14.5%,58.9%,26.6%
3,2005,0.295,1.27,20.9%,44.2%,34.9%,11.1%,10.6%,3706,6.2%,711,22.3%,42.6%,30.2%,27.2%,15.8%,56.4%,27.8%
4,2006,0.301,1.19,19.6%,43.7%,36.7%,10.4%,10.8%,3654,6.2%,693,22.4%,40.2%,34.0%,25.7%,11.2%,61.6%,27.2%

In [5]:
qoc_data = qoc_data.rename(columns={'Soft%':'Soft', 'Med%':'Med', 'Hard%':'Hard'})

In [6]:
qoc_data.head()

,Season,BABIP,GB/FB,LD%,GB%,FB%,IFFB%,HR/FB,IFH,IFH%,BUH,BUH%,Pull%,Cent%,Oppo%,Soft,Med,Hard
0,2002,0.293,1.23,21.2%,43.5%,35.3%,11.7%,10.7%,3725,6.4%,772,23.4%,42.9%,29.1%,28.1%,15.1%,62.6%,22.4%
1,2003,0.294,1.26,22.5%,43.3%,34.2%,11.7%,11.2%,3613,6.2%,786,23.8%,43.9%,27.5%,28.6%,15.9%,60.5%,23.6%
2,2004,0.297,1.23,20.0%,44.1%,35.9%,11.3%,11.2%,3921,6.6%,708,21.5%,43.3%,28.9%,27.7%,14.5%,58.9%,26.6%
3,2005,0.295,1.27,20.9%,44.2%,34.9%,11.1%,10.6%,3706,6.2%,711,22.3%,42.6%,30.2%,27.2%,15.8%,56.4%,27.8%
4,2006,0.301,1.19,19.6%,43.7%,36.7%,10.4%,10.8%,3654,6.2%,693,22.4%,40.2%,34.0%,25.7%,11.2%,61.6%,27.2%

In [9]:
qoc_data['Soft'] = qoc_data['Soft'].str.replace('%', '')
qoc_data['Med'] = qoc_data['Med'].str.replace('%', '')
qoc_data['Hard'] = qoc_data['Hard'].str.replace('%', '')

In [10]:
qoc_data.head()

,Season,BABIP,GB/FB,LD%,GB%,FB%,IFFB%,HR/FB,IFH,IFH%,BUH,BUH%,Pull%,Cent%,Oppo%,Soft,Med,Hard
0,2002,0.293,1.23,21.2%,43.5%,35.3%,11.7%,10.7%,3725,6.4%,772,23.4%,42.9%,29.1%,28.1%,15.1,62.6,22.4
1,2003,0.294,1.26,22.5%,43.3%,34.2%,11.7%,11.2%,3613,6.2%,786,23.8%,43.9%,27.5%,28.6%,15.9,60.5,23.6
2,2004,0.297,1.23,20.0%,44.1%,35.9%,11.3%,11.2%,3921,6.6%,708,21.5%,43.3%,28.9%,27.7%,14.5,58.9,26.6
3,2005,0.295,1.27,20.9%,44.2%,34.9%,11.1%,10.6%,3706,6.2%,711,22.3%,42.6%,30.2%,27.2%,15.8,56.4,27.8
4,2006,0.301,1.19,19.6%,43.7%,36.7%,10.4%,10.8%,3654,6.2%,693,22.4%,40.2%,34.0%,25.7%,11.2,61.6,27.2

In [13]:
soft = qoc_data.Soft
med = qoc_data.Med
hard = qoc_data.Hard
year = qoc_data.Season

In [12]:
df = pd.DataFrame()

In [ ]:
df.insert(0, 'Soft', soft)
df.insert(1, 'Med', med)
df.insert(2, 'Hard', hard)

In [19]:
df.insert(0, 'Year', year)

In [20]:
df

    Year  Soft   Med  Hard
0   2002  15.1  62.6  22.4
1   2003  15.9  60.5  23.6
2   2004  14.5  58.9  26.6
3   2005  15.8  56.4  27.8
4   2006  11.2  61.6  27.2
5   2007  18.2  49.8  32.0
6   2008  16.9  55.9  27.1
7   2009  15.7  57.4  26.9
8   2010  18.1  51.8  30.1
9   2011  24.3  51.5  24.3
10  2012  15.7  55.9  28.5
11  2013  16.5  53.6  29.9
12  2014  18.3  52.6  29.1
13  2015  18.6  52.5  28.8
14  2016  18.8  49.9  31.4
15  2017  18.9  49.3  31.8
16  2018  18.0  46.7  35.3
17  2019  17.0  45.0  38.0
18  2020  16.5  50.3  33.3
19  2021  16.5  51.4  32.1

In [21]:
df.set_index('Year')

      Soft   Med  Hard
Year
2002  15.1  62.6  22.4
2003  15.9  60.5  23.6
2004  14.5  58.9  26.6
2005  15.8  56.4  27.8
2006  11.2  61.6  27.2
2007  18.2  49.8  32.0
2008  16.9  55.9  27.1
2009  15.7  57.4  26.9
2010  18.1  51.8  30.1
2011  24.3  51.5  24.3
2012  15.7  55.9  28.5
2013  16.5  53.6  29.9
2014  18.3  52.6  29.1
2015  18.6  52.5  28.8
2016  18.8  49.9  31.4
2017  18.9  49.3  31.8
2018  18.0  46.7  35.3
2019  17.0  45.0  38.0
2020  16.5  50.3  33.3
2021  16.5  51.4  32.1

In [23]:
df = df.reset_index(drop=True)

In [25]:
df.set_index('Year', inplace=True)

In [26]:
df

      Soft   Med  Hard
Year
2002  15.1  62.6  22.4
2003  15.9  60.5  23.6
2004  14.5  58.9  26.6
2005  15.8  56.4  27.8
2006  11.2  61.6  27.2
2007  18.2  49.8  32.0
2008  16.9  55.9  27.1
2009  15.7  57.4  26.9
2010  18.1  51.8  30.1
2011  24.3  51.5  24.3
2012  15.7  55.9  28.5
2013  16.5  53.6  29.9
2014  18.3  52.6  29.1
2015  18.6  52.5  28.8
2016  18.8  49.9  31.4
2017  18.9  49.3  31.8
2018  18.0  46.7  35.3
2019  17.0  45.0  38.0
2020  16.5  50.3  33.3
2021  16.5  51.4  32.1

In [27]:
qoc_data = df

In [28]:
qoc_data.to_csv('qoc_data.csv')